[Unit]
Description=Watcher para iniciar o servidor Minecraft quando alguém conectar
After=network.target
Requires=network.target
ConditionPathExists=!/run/minecraft-server.pid
Conflicts=minecraft.service

[Service]
ExecStart=/home/{your-user}/minecraft-server/fabric-server-01/minecraft-autostart.sh
User=root
Group=root
WorkingDirectory=/home/{your-user}/minecraft-server/fabric-server-01
StandardOutput=journal
StandardError=journal
Restart=no

[Install]
WantedBy=multi-user.target